.submit-button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    color: white;
    background-color: #2980b9;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #8e44ad;
    transition: .5s;
}

.button {
    width: 100%;
    border: 1px solid;
    color: white;
    background-color: #232F34;
    cursor: pointer;
    border-radius: 10px;
    border-color: #232F34;
    margin: 1px;
}

.button:hover {
    background-color: #d28d20;
    border-color: #d28d20
}

.button::selection {
    background-color: #d28d20;
    border-color: #d28d20
}

.navbar {
    background-color: #232F34;
}

.navbar .nav-link:hover {
    color: #d28d20 /* Change this to the desired color */
}
